
<div class="body">
  <form [formGroup]="UserEditform" >
<h2 style="align-items:center;">
  EditUser
</h2>
<div class="mb-3">
  <input class="form-control mb-3" placeholder="ID" formControlName='id' >

  </div>
<div class="mb-3">
  <input class="form-control mb-3" placeholder="Username" formControlName='username'>

  </div>
  <div class="mb-3">
  <input class="form-control mb-3" placeholder="Password"formControlName='password'>

  </div>

    <div class="mb-3">
      <input class="form-control mb-3" placeholder="Userstatus" formControlName='userstatus'>

      </div>


  </form>

<div class="footer">

  <!-- <button type="button" class="btn btn-secondary" >Close</button> -->
  <button type="button" class="btn btn-primary"(click)="saveuser()" >Save</button>
</div>

</div>
