

<div class="body">
  <form [formGroup]="itgrpditform" >
<h2 style="align-items:center;">
  EditUser
</h2>
<div class="mb-3">
  <input class="form-control mb-3" placeholder="ID" formControlName='id' >

  </div>
<div class="mb-3">
  <input class="form-control mb-3" placeholder="" formControlName='iteamgrpname'>

  </div>
  <div class="mb-3">
  <input class="form-control mb-3" placeholder=""formControlName='iteamgrpstatus'>

  </div>



  </form>

<div class="footer">

  <!-- <button type="button" class="btn btn-secondary" >Close</button> -->
  <button type="button" class="btn btn-primary" (click)="editgrp()">Save</button>
</div>

</div>
