
body{
  background-image: url('https://th.bing.com/th/id/R.98d61b8abe1d7acfe9367d31a8e47e0c?rik=8NoysUsdMIK5JA&riu=http%3a%2f%2fwww.baltana.com%2ffiles%2fwallpapers-2%2fBlue-Powerpoint-Background-Widescreen-Wallpapers-06723.jpg&ehk=T54RxgRWvjagEjxw1AR%2fUl2cpJkdEJ3mGvZ0O7lkLKA%3d&risl=&pid=ImgRaw&r=0');
  background-size: cover;
  height: 700px;
  padding-top: 25px;
}

